/build
/node_modules
node_modules

/user_htmls
/user_pointclouds
user_htmls
user_pointclouds
user_pointclouds/*

LAStools-2.0.0
PotreeConverter-develop

__pycache__
.vscode
.DS_Store

*.ply
*.las
*.laz
*.tif
*.tiff
